## Aula 1 sobre Análise de Dados com Python

---

### Importando Bibliotecas

In [1]:
import keyword

In [3]:
keyword.iskeyword

In [5]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
hoje_chove = True

In [7]:
hoje_chove

True

In [8]:
type(hoje_chove)

bool

---

### Váriaveis: Atribuição Múltipla

In [19]:
# Atribua os seguintes valores à variáveis, um a um:  
a=347
b=2.71
c='347'
d=2+3j

In [ ]:
# Quais os tipos das variáveis acima?

In [ ]:
# Faça uma atribuição múltipla das variáveis do exercício 2.
# Declare a seguinte variável e verifique o que acontece:
# teste = true
# Transforme as variáveis do exercício 2 conforme segue:
# para float
# para inteiro
# para float
# para string
# Crie uma variável complexa com os valores de 2.a e 2.b.

In [9]:
a=347

In [10]:
a

347

In [11]:
a,d,c,d = 347,2,71,"347",2+3j

ValueError: too many values to unpack (expected 4)

In [7]:
a,d,c,d = 347,2.71,"347",2+3j

In [8]:
a,d,c,d

(347, (2+3j), '347', (2+3j))

In [15]:
a,b,c,d = 347,2.71,"347",2+3j

In [16]:
a,b,c,d

(347, 2.71, '347', (2+3j))

---

#### Operadores

-----

### Operadores com string

In [9]:
fruta01 = 'BaNaNa'
fruta02 = 'AbaCaXi'

In [10]:
fruta01

'BaNaNa'

In [11]:
fruta01.lower()

'banana'

In [12]:
fruta01.upper()

'BANANA'

In [13]:
fruta01.capitalize()

'Banana'

In [14]:
fruta01.title()

'Banana'

In [16]:
fruta01.startswith("B")

True

In [17]:
len(fruta01)

6

In [18]:
fruta01.endswith("I")

False

In [19]:
salada = 'alface com tomate'

In [20]:
type(salada)

str

In [21]:
salada[0]

'a'

In [22]:
salada[5]

'e'

In [23]:
salada[0:4]

'alfa'

In [24]:
salada[0:10:2]

'afc o'

-----------

### Listas

In [25]:
lista_compra = ['banana', 'pera', 'laranja']
lista_coisas = ['Patricia', 47, 'abobrinha', 3.14, 1+1j]

In [26]:
lista_compra

['banana', 'pera', 'laranja']

In [27]:
lista_coisas

['Patricia', 47, 'abobrinha', 3.14, (1+1j)]

In [28]:
lista_compra[0
        ]

'banana'

In [29]:
lista2 = lista_coisas[0:3]

In [30]:
lista2

['Patricia', 47, 'abobrinha']

In [31]:
lista_geral= [lista_coisas,lista_compra,lista2]

In [32]:
lista_geral

[['Patricia', 47, 'abobrinha', 3.14, (1+1j)],
 ['banana', 'pera', 'laranja'],
 ['Patricia', 47, 'abobrinha']]

In [33]:
lista_compra.append('batata')

In [34]:
lista_compra

['banana', 'pera', 'laranja', 'batata']

In [37]:
supermercado=' , '.join(lista_compra)

In [38]:
supermercado

'banana , pera , laranja , batata'

In [39]:
feira = 'batata, cebola, tomate, pepino'

In [40]:
lista_feira= feira.split(', ')

In [41]:
lista_feira

['batata', 'cebola', 'tomate', 'pepino']

In [42]:
supermercado = ' , '.join(lista_compra[0:3])
supermercado2 = 'e'.join(lista_compra[3:4])
supermercado + ' e ' + supermercado2

'banana , pera , laranja e batata'

In [43]:
supermercado

'banana , pera , laranja'

In [44]:
supermercado2

'batata'

In [45]:
supermercado + ' e ' + supermercado2

'banana , pera , laranja e batata'

---------------

### Tuplas

In [49]:
tupla1 = (1, 3.14, 'abacate')
tupla2 = 1, 3.14, 'abacate'

In [47]:
tupla1

(1, 3.14, 'abacate')

In [51]:
tupla2

(1, 3.14, 'abacate')

In [62]:
tupla1==tupla2

True

In [63]:
type(tupla1), type(tupla2)

(tuple, tuple)

---------

### Dicionário

In [52]:
cadastro = {'Nome':'Tania',
            'idade':35,
            'fruta':'uva', 
            'cor':'roxa', 
            'musica':'pop'}

In [53]:
cadastro

{'Nome': 'Tania', 'idade': 35, 'fruta': 'uva', 'cor': 'roxa', 'musica': 'pop'}

In [54]:
cadastro.keys()

dict_keys(['Nome', 'idade', 'fruta', 'cor', 'musica'])

In [55]:
type(cadastro)

dict

In [56]:
cadastro['fruta']='pera'

In [57]:
cadastro

{'Nome': 'Tania', 'idade': 35, 'fruta': 'pera', 'cor': 'roxa', 'musica': 'pop'}

In [58]:
cadastro['sobrenome']='silva'

In [59]:
cadastro

{'Nome': 'Tania',
 'idade': 35,
 'fruta': 'pera',
 'cor': 'roxa',
 'musica': 'pop',
 'sobrenome': 'silva'}

In [60]:
del cadastro['musica']

In [61]:
cadastro

{'Nome': 'Tania',
 'idade': 35,
 'fruta': 'pera',
 'cor': 'roxa',
 'sobrenome': 'silva'}

In [66]:
cadastro.update({'Nome':'ana',
            'idade':27,
            'fruta':'laranja'})

In [67]:
cadastro

{'Nome': 'ana',
 'idade': 27,
 'fruta': 'laranja',
 'cor': 'roxa',
 'sobrenome': 'silva'}

-----------

### Leitura e Escrita

In [68]:
nome = input('Qual o seu nome? ')

Qual o seu nome? Marcela

In [70]:
sobrenome= input('Qual o seu sobrenome ')

Qual o seu sobrenome Castro

In [73]:
print(nome,sobrenome)

Marcela Castro

In [74]:
print('O nome dela é', nome, sobrenome)

O nome dela é Marcela Castro

In [76]:
print('Seu nome é %s.' %nome)

Seu nome é Marcela.