___________________
### Exercícios slide 13,21

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [ ]:
#1. Abra o Jupyter lab
#2. Crie um array data com a seguinte lista: [1,2,3,4,5,6,7,8,9,10,11,1
#2,13,14,15,16]
#3. Selecione apenas os dados diferentes de 4,6,8,10. Aloque em um
#array chamado data_2.
#4. Crie um array dim2 que tenha 2 dimensões e a lista [1,2,3,4,5] na
#primeira linha e a lista [6,7,8,9,10] na 2a linha.
#5. Crie um array chamado dim2_2 que seja uma fatia de dim2 e que
#contenha apenas os valores 3,4,8,9.

In [4]:
data = np.arange(17)

In [5]:
data

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [6]:
data[data != 4]

array([ 0,  1,  2,  3,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [7]:
data_2 = data[(data != 4) & (data != 6) & (data != 8) & (data != 10)]

In [8]:
data_2

array([ 0,  1,  2,  3,  5,  7,  9, 11, 12, 13, 14, 15, 16])

In [9]:
data_2 =(data[data!=4],data[data!=6],data[data!=8],data[data!=10])

In [10]:
data_2

(array([ 0,  1,  2,  3,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16]),
 array([ 0,  1,  2,  3,  4,  5,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  9, 10, 11, 12, 13, 14, 15, 16]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 11, 12, 13, 14, 15, 16]))

In [13]:
dim2 = np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [14]:
dim2.shape

(2, 5)

In [15]:
dim2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [16]:
#Errado #não muito correto
dim2_2= (dim2[dim2 == 3],dim2[dim2 == 4],dim2[dim2 == 8],dim2[dim2 == 9])

In [17]:
dim2_2

(array([3]), array([4]), array([8]), array([9]))

In [18]:
# Correto
dim2_2 = dim2[:,2:4]

In [19]:
dim2_2

array([[3, 4],
       [8, 9]])

In [43]:
# EXERCÍCIO 21
#1. Abra o Jupyter lab
#2. Crie um array data com a seguinte lista: [1,2,3,4,5,6,7,8,9,10,11,1
#2,13,14,15,16]
#3. Verifique a dimensão, a quantidade de elementos e a forma desse
#array.
#4. Crie um novo array chamado data2, com 4x4 elementos,
#aplicando a função reshape no array data.
#5. Verifique a dimensão, a quantidade de elementos e a forma desse
#array.
#6. Crie um novo array chamado data_t, que seja a transposição do
#array data2.
#7. Use a função np.flatten() e crie o array data_flat.
#8. Compare o array data com o array data_flat.

In [27]:
data= np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])

In [28]:
data.size

16

In [29]:
data.ndim

1

In [30]:
data.shape

(16,)

In [31]:
len(data)

16

In [32]:
#forma desse array
type(data)

numpy.ndarray

In [24]:
data= np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])

In [25]:
data

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [33]:
data2 = data.reshape(4,4)
data2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [34]:
data2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [35]:
data2.ndim

2

In [36]:
data2.shape

(4, 4)

In [37]:
#conta cada linha como um elemento, então são 4 elementos
len(data2)

4

In [38]:
data_t = data2.transpose()
data_t

array([[ 1,  5,  9, 13],
       [ 2,  6, 10, 14],
       [ 3,  7, 11, 15],
       [ 4,  8, 12, 16]])

In [39]:
data_flat = data2.flatten()
data_flat

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [40]:
data

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [41]:
data_flat

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [42]:
data == data_flat

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

___________
### Execícios slide 25

In [ ]:
#1. Abra o Jupyter lab
#2. Crie 5 arrays a, b, c, d e e com as seguintes listas:
#a. [7]
#b. [[4,6,8],[3,5,7]]
#c. [3,3,3]
#d. [[3,2,1],[1,2,3]]
#e. [5,10]
#3. Faça as seguintes operações:
#a. a * b
#b. d - b
#c. c + b
#d. c + e
#4. O que aconteceu no item d) do último exercício? Explique.

In [50]:
import numpy as np

In [51]:
a = np.array([7])

In [52]:
b = np.array([[4,6,8],[3,5,7]])

In [53]:
c = np.array([3,3,3])

In [54]:
d = np.array([[3,2,1],[1,2,3]])

In [44]:
e = np.array([5,10])

In [56]:
a*b

array([[28, 42, 56],
       [21, 35, 49]])

In [57]:
d-d

array([[0, 0, 0],
       [0, 0, 0]])

In [58]:
c+b

array([[ 7,  9, 11],
       [ 6,  8, 10]])

In [45]:
c+e

NameError: name 'c' is not defined

Deu erro pois são arrays de tamanhos diferentes.

___________________
### Exercícios slide 28

In [ ]:
#1. Abra o Jupyter lab
#2. Crie 2 arrays a e b com as seguintes listas:
#a. [[4,6,8],[3,5,7]]
#b. [[11,13,17],[23,29,31]]
#3. Use a função cbrt() e calcule a raiz cúbica dos arrays a e b.
#4. Calcule a soma cumulativa de a.
#5. Calcule a média de a e b.
#6. Aplique a função np.negative() no array b e soma com b. O que
#aconteceu?

In [46]:
a = np.array([[4,6,8],[3,5,7]])

In [47]:
b = np.array([[11,13,17],[23,29,31]])

In [48]:
np.cbrt(a)

array([[1.58740105, 1.81712059, 2.        ],
       [1.44224957, 1.70997595, 1.91293118]])

In [49]:
np.cbrt(b)

array([[2.22398009, 2.35133469, 2.57128159],
       [2.84386698, 3.07231683, 3.14138065]])

In [50]:
a.cumsum()

array([ 4, 10, 18, 21, 26, 33], dtype=int32)

In [51]:
b.cumsum()

array([ 11,  24,  41,  64,  93, 124], dtype=int32)

In [65]:
a.mean()

5.5

In [67]:
b.mean()

20.666666666666668

In [68]:
np.negative(b)

array([[-11, -13, -17],
       [-23, -29, -31]])

In [69]:
b+b

array([[22, 26, 34],
       [46, 58, 62]])

np.negative(b) + b

_________
### Exercícios slide 33

In [ ]:
#Numpy - Concatenação
#6. Abra o Jupyter lab
#7. Crie 2 arrays arrays com as seguintes listas:
#a. [[1,2,3],[4,5,6]]
#b. [[2,4,6,8],[10,12,14,16]]
#c. [[11,13,17],[23,29,31]]
#d. [[13,14,5],[19,21,23]]
#8. Concatene a e b. O que aconteceu?
#9. Concatene b e c, tanto usando o eixo 0 (linha) quanto o eixo 1
#(coluna).
#10. Concatene a e d, tanto usando o eixo 0 (linha) quanto o eixo 1
#(coluna).

In [60]:
a = np.array([[1,2,3],[4,5,6]])
b = np.array([[2,4,6,8],[10,12,14,16]])
c = np.array([[11,13,17],[23,29,31]])
d = np.array([[13,14,5],[19,21,23]])

In [53]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [61]:
b

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16]])

In [56]:
np.concanete((a,b))

AttributeError: module 'numpy' has no attribute 'concanete'

Concatene a e b. O que aconteceu?
● Deu erro pois as dimensões dos arrays são diferentes.

In [62]:
b

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16]])

In [63]:
c

array([[11, 13, 17],
       [23, 29, 31]])

In [65]:
b.shape

(2, 4)

In [66]:
c.shape

(2, 3)

In [67]:
np.concatenate((b,c), axis=1)

array([[ 2,  4,  6,  8, 11, 13, 17],
       [10, 12, 14, 16, 23, 29, 31]])

In [70]:
np.concatenate((b,c), axis=0) # Dará erro pois são dimensões diferentes

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 4 and the array at index 1 has size 3

In [68]:
# Concatene a e d, tanto usando o eixo 0 (linha) quanto o eixo 1 (coluna).
np.concatenate((a,d), axis=0)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [13, 14,  5],
       [19, 21, 23]])

In [69]:
np.concatenate((a,d), axis=1)

array([[ 1,  2,  3, 13, 14,  5],
       [ 4,  5,  6, 19, 21, 23]])